 
  
<div data-role="page" id="page1">
           <div data-theme="a" data-role="header" data-position="fixed">
               <h3>
                   mobInci
               </h3>
           </div>
           <div data-role="content">
               <div>
     <img style="width: 288px; height: 100px" src="http://mobinci.ruddraa.com/mobinci.png" />
               </div>
               <a data-role="button" data-transition="fade" href="http://mobinci.ruddraa.com/Login.html">
                   Login
               </a>
               <a data-role="button" data-transition="fade" href="http://mobinci.ruddraa.com/Register.html">
                   Register
               </a>
           </div>
</div>
     
      